.address {
  padding: 85px 0;
}
.address__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}
.address__card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}